<div id="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" role="navigation">
        <div class="container">
            {% if page.categories.first != 'home' %}
            <a class="navbar-brand" href="{{ '/' | relative_url }}">
                <img src="{{ '/images/ccsb-pvamu-logo.png' | relative_url }}" style="height:40px" title="CCSB@PVAMU" alt="CCSB@PVAMU" class="d-inline-block align-top">
            </a>
            {% else %}
            <a class="navbar-brand" href="http://www.pvamu.edu">
                <img src="{{ '/images/pvamu-logo.svg' | relative_url }}" style="height:32px" title="The Prairie View A&M University" alt="PVAMU">
            </a>
            {% endif %}

            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar-collapse-element" aria-controls="navbar-collapse-element" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar-collapse-element">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    {% for item in site.data.navigation %}
                        {% assign is_active = false %}
                        {% if page.url == item.link or page.url == item.link | append: "/" %}
                            {% assign is_active = true %}
                        {% endif %}

                        <li class="nav-item">
                            <a class="nav-link {% if is_active %}active{% endif %}" 
                               {% if is_active %}aria-current="page"{% endif %} 
                               href="{{ item.link | relative_url }}">
                               {{ item.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
   
   <!-- to add a bit of space between navigation bar and the rest of the document -->
    <br>
</div>
