---
layout: default
title: CCSB@PVAMU / talks
categories: 
 - talks
---



<div class="row">
	<div class="col-md-12">
		<div class="title">
			CCSB Biweekly Seminar Series
		</div>
		<div class="smallspacer"></div>
		<div class="smallspacer"></div>
		<div class="smallhead">
			<p>CCSB Biweekly Seminar Series is to promote interdisciplinary research across PVAMU campus and beyond, hosted by CRI <a href="{{ site.baseurl }}/">Center for Computational Systems Biology</a>.   We alternate between CCSB researchers and external speakers. <strike>We meet in CCSB Conference Room (ELEN 231).</strike>  <a href="{% post_url /team/2016-12-15-seungchan-kim %}">Dr. Seungchan Kim</a> and <a href="{% post_url /team/2017-11-15-dumitru-iacobas %}">Dr. Dumitru Iacobas</a> are the organizers for the seminar series.  Please contact them if you have any suggestion, including speakers.</p>

			<p><strong>Note</strong>: The seminar will be delivered over Zoom to comply with <a href="https://www.pvamu.edu/coronavirus/">PVAMU</a> and <a href="https://www.cdc.gov/coronavirus/2019-ncov/">CDC</a> guidelines.</p>
			
			<p><strong>Day | Time</strong>: Wednesdays | 12pm - 1:30pm</p>

		</div>	

		<div class="spacer"></div>
		<div class="spacer"></div>

		<div class="head">
			Fall 2020 Speakers
		</div>

		<div>

		<table style="width:90%">
		<tr>
			<th style = "width:15%">Date</th>
			<th style = "width:40%"">Speaker</th> 
			<th>Title</th>
		</tr>

		<tr>
			<td>Wed., Sept. 9, 2020</td>

			<td><a href="https://www.tgen.org/faculty-profiles/david-engelthaler/">David Engelthaler</a>, Ph.D., Co-Director and Associate Professor, <a href="https://www.tgen.org/patients/pathogen-microbiome/" target="_blank">Pathogen Genomics Division</a>, TGen North</a></td> 

			<td><a href="{{ site.baseurl }}/blog/talks/CCSB-Seminar-Engelthaler-Genomic-Epidemiology-SARS-CoV-2/">Genomic Epidemiology of SARS-CoV-2</a> [<a href="https://pvpanther.zoom.us/rec/share/fsuDP-pYNTYVwQB3iiLHDK02mQaDiRnYV5LFUB4rENzFk32H0armgAOIVmIZpKhg.SjvRcJKsGEG1FfUq">watch</a>]</td>
		</tr>

		<tr>
			<td>Wed., Sept. 23, 2020</td>

			<td><a href="https://scholars.library.tamu.edu/vivo/display/n8c80d806/Persons/View%20All">Andrew Hillhouse</a>, Ph.D., Research Assistant Professor, <a href="https://genomics.tamu.edu" target="_blank">TIGSS</a>, Texas A&M University (host: Dr. Joy)</td> 

			<td><a href="{{ site.baseurl }}/blog/talks/CCSB-Seminar-Hillhouse-DNA-RNA-are-fun/">DNA and RNA are fun! An exploration of current tools for genomic analysis</a> [<a href="https://pvpanther.zoom.us/rec/share/L1qTA34X-FUuY6kO-rCXxCK7_CAUZy8ZnW-eU6TYuLseEK3HIu4GPeT4IsBhHGZo.r37Mi2x9LHnH3qiz">watch</a>]</td>
		</tr>

		<tr>
			<td>Wed., Oct. 7, 2020</td>

			<td><a href="https://ccsb.pvamu.edu/team/anna-joy/">Anna Joy</a>, Ph.D., Research Associate Professor, <a href="https://ccsb.pvamu.edu/" target="_blank">CCSB</a>, Prairie View A&M University</td> 

			<td><a href="{{ site.baseurl }}/blog/talks/CCSB-Seminar-Joy-Targeting-Glioblastoma-microenvironment/">Targeting Glioblastoma-microenvironment interactions for anti-tumor activity</a> [<a href="https://pvpanther.zoom.us/rec/share/WHkvl3lm8ciiozSpmqyOuzceL0GVUehfiI7htDACtQvw2l0_EBQM0HGjl_ftZHBo.CS9GHTv1HnP5oBEH">watch</a>]</td>

		</tr>

		<tr>
			<td>Wed., Oct. 21, 2020</td>

			<td><a href="https://plantbio.okstate.edu/faculty/faculty?id=327">Andrew Doust</a>, Ph.D., Head, <a href="https://plantbio.okstate.edu" target="_blank">Plant Biology, Ecology, and Evolution Department</a>, Oklahoma State University (host: Dr. Kebrom)</td> 

			<td><a href="{{ site.baseurl }}/blog/talks/CCSB-Seminar-Doust-Determinants-plant-architecture/">Determinants of plant architecture in grasses</a> [<a href="https://pvpanther.zoom.us/rec/share/_Wejc8zfth6dV28E2KVluEj1vHK9nu1Jc3pnZ7Cl4jGzGqMFER0Ss7c5xvCXLB3H.AMpa-O5KerPiEry-">watch</a>]</td>

		</tr>

		<tr>
			<td>Wed., Nov. 4, 2020</td>

			<td><a href="https://ccsb.pvamu.edu/team/tesfamichael-kebrom/">Tesfamichael Kebrom</a>, Ph.D., Research Scientist, <a href="https://ccsb.pvamu.edu/" target="_blank">CCSB</a>, Prairie View A&M University</td> 

			<td><a href="{{ site.baseurl }}/blog/talks/CCSB-Seminar-Kebrom-Dissecting-Shade-Avoidance">Dissecting the shade avoidance syndrome of plants using RNA-seq</a> [<a href="https://pvpanther.zoom.us/rec/share/7MP1I9zswjMS0-wcADsJCf-EO6WNSZDPy0m-WxpqybmWnmMjn3sFuxq6zXzVYNOK.CpTmWSyfSizYd1Jo">watch</a>]</td>

		</tr>

		<tr>
			<td>Wed., Nov. 18, 2020</td>

			<td><a href="https://connects.catalyst.harvard.edu/Profiles/display/Person/117545">Peter Castaldi</a>, MD, MSc, and Assistant Professor of Medicine, <a href="https://www.brighamandwomens.org/research/departments/channing-division-of-network-medicine/overview" target="_blank">Channing Laboratory</a>, <a href="https://www.brighamandwomens.org" target="_blank">Brigham and Women's Hospital</a>, Harvard University (host: Dr. Kim)</td> 

			<td><a href="{{ site.baseurl }}/blog/talks/CCSB-Seminar-Castaldi-Characterizing-Pathology-Complex/">Characterizing the pathobiology of a complex disease using genome-scale data and interpretable models: application to COPD</a></td>
		</tr>

		<tr>
			<td>Wed., Dec. 2, 2020</td>

			<td><a href="https://ccsb.pvamu.edu/team/xishuang-dong/" target="_blank">Xishuang Dong</a>, Ph.D., Assistant Professor, <a href="http://www.pvamu.edu/engineering/departments/ece/" target="_blank">ECE</a>/<a href="https://ccsb.pvamu.edu/">CCSB</a>, Prairie View A&M University</td> 

			<td>TBA</td>
		</tr>

		<tr>
			<td>Wed., Dec. 16, 2020</td>

			<td><a href="https://www.pvamu.edu/engineering/departments/cs/faculty-and-staff/">Ghaffari Noushin</a>, Ph.D., Assistant Professor, <a href="http://www.pvamu.edu/engineering/departments/cs/" target="_blank">Computer Science Department</a>, Prairie View A&M University (host: Dr. Kim)</td> 

			<td>TBA</td>
		</tr>

		</table>

		</div>

		<div class="head">
			Previous Speakers
		</div>

		<div class="smallhead">
			<ul>
				<li><a href="{{ site.baseurl }}/talks/old/talks-2020-spring/">Spring 2020 Speakers</a></li>
				<li><a href="{{ site.baseurl }}/talks/old/talks-2019-fall/">Fall 2019 Speakers</a></li>
			</ul>
		</div>

		<div class="smallspacer"></div>

		<div class="smallspacer"></div>

		<div class="smallhead">
			Note: This seminar series is partially sponsored by <em>Texas A&M University Chancellor's Research Initiative (CRI) grant</em>, <em>Wesley Lecture Series of <a href="http://www.pvamu.edu/engineering/departments/ece/" target="_blank">Department of Electrical and Computer Engineering</a> at the Prairie View A&M University</em>, and <a href="{{ site.baseurl }}/blog/DoD-CDMRP-TTSA-Biomarker/">W81XWH-19-1-0149, (DOD/CDMRP)</a>.
		</div>
	</div>
</div>	


<div class="bigspacer"></div>


<div class="row">
	<div class="col-md-12">
		<div class="title">
			Recent Talks
		</div>	
	</div>
</div>	

<div class="bigspacer"></div>

{% for talk in site.categories.talks %}
{% unless talk.draft %}

	{% for member in site.categories.team %}
		{% if member.title == talk.speaker %}
			{% assign speaker = member %}
		{% endif %}
	{% endfor %}

    {% cycle 'add rows': '<div class="row">', '', '' %}
		<div class="col-md-4 talkbox">
			<div class="smallhead">
				<a href="{{ talk.url | relative_url }}" class="off">{{ talk.title }}</a>
			</div>
			<div class="smallspacer"></div>
      {% if talk.venue %}
			<div class="note">
				{{ talk.event }} at {{ talk.venue }}
			</div>
      {% else %}
      <div class="note">
				{{ talk.event }}
			</div>
      {% endif %}
			<div class="smallspacer"></div>
			<div class="smallnote">
				{{ talk.date | date: "%-d %b %Y" }}
				by <a class="off" href="{{ speaker.url | relative_url }}">{{ talk.speaker }}</a>
			</div>
			<div class="bigspacer"></div>
			<div class="spacer"></div>
        </div>
    {% cycle 'close rows': '', '', '</div>' %}
{% endunless %}
{% endfor %}
{% cycle 'close rows': '', '</div>', '</div>' %}


