---
layout: default
title: CCSB@PVAMU / talks
categories: 
 - talks
---



<div class="row">
	<div class="col-md-12">
		<div class="title">
			CCSB Biweekly Seminar Series
		</div>
		<div class="spacer"></div>
		<div class="smallhead">
			<p>CCSB Biweekly Seminar Series is to promote interdisciplinary research across PVAMU campus and beyond, hosted by CRI <a href="{{ site.baseurl }}/">Center for Computational Systems Biology</a>.   We alternate between CCSB researchers and external speakers.  <strong>This semester, we will use a hybrid format, between in-person meet and virtual meet (Zoom) based on speaker's preference</strong>.  When we meet in person, we will meet in CCSB Conference Room (ELEN 231).  <a href="{% post_url /team/2016-12-15-seungchan-kim %}">Dr. Seungchan Kim</a> is the organizer for the seminar series.  Please <a href="mailto:sekim@pvamu.edu?subject=Suggestion for CCSB Seminars">contact him</a> if you have any suggestion, including speakers.</p>
			
			<div class="spacer"></div>
			<div style="margin-left: 15px">
				<ul>
					<li><strong>Day | Time</strong>: Wednesdays | 12pm - 1:00pm</li>
					<li><strong>Place</strong>:
						<p>
							<a href="https://pvpanther.zoom.us/j/95093843065?pwd=bUprRllBVkRQUjBuNStuVFVNRDBTZz09">Join Zoom Meeing</a> for a virtual meet</p>
						<p>CCSB Conference Room (#231 in New ELEN bldg) for in-person meet</p>
					</li>
				</ul>
			</div>

		</div>

		<div class="spacer"></div>
		<div class="spacer"></div>

		<div class="head">
			Schedule for Fall 2022
		</div>
		<div class="spacer"></div>

		<div>

		<table style="width:90%">
		<tr>
			<th style = "width:15%">Date</th>
			<th style = "width:40%">Speaker</th> 
			<th>Title</th>
		</tr>

		<tr>
			<td>Sept. 14, 2022</td>

			<td>
				<a href="https://ccsb.pvamu.edu/team/lealon-martin/"><strong>Lealon Martin</strong></a>, Ph.D., Associate Professor, <a href="https://www.pvamu.edu/cheg/">Department of Chemical Engineering</a>, <a href="https://www.pvamu.edu/engineering/">Roy G. Perry College of Engineering</a>, <a href="https://www.pvamu.edu">Prairie View A&M University</a>
			</td> 

			<td><a href="{{ site.baseurl }}/blog/talks/CCSB-Seminar-Martin-Topological-Metabolic-Analysis/">Topological Metabolic Analysis for the Reconstruction of Anammox-DAMO Pathways in Microbial Consortia</a></td>

		</tr>

		<tr>
			<td>Oct. 05, 2022 <strike>[rescheduled: Sept. 28, 2022]</strike></td>

			<td>
				<a href="https://ccsb.pvamu.edu/team/seungchan-kim/"><strong>Seungchan Kim</strong></a>, Ph.D., Chief Scientist and Executive Professor, Director, <a href="https://ccsb.pvamu.edu/" target="_blank">CCSB</a>, <a href="https://www.pvamu.edu/ece/">Electrical and Computer Engineering Department</a>, <a href="https://www.pvamu.edu/engineering/">Roy G. College of Engineering</a>, <a href="https://pvamu.edu">Prairie View A&M University</a>
			</td> 


			<td><a href="{{ site.baseurl }}/blog/talks/CCSB-Seminar-Kim-Deciphering-Cell-Cell-Communications/">Deciphering cell-cell communications with spatial transcriptomic data</a></td>

		</tr>

		<tr>
			<td>Oct. 12, 2022</td>

			<td>
				<a href="https://baen.tamu.edu/people/mcclurkin-moore-janie/"><strong>Janie Moore</strong></a>, Ph.D., Assistant Professor, <a href="https://baen.tamu.edu">Department of Biological and Agricultural Engineering</a>, <a href="https://agrilife.tamu.edu/agency/college-home/">College of Agriculture & Life Sciences</a>, <a href="https://www.tamu.edu">Texas A&M University</a>

	       		(host: Xishuang Dong)
	       	</td> 

			<td><a href="{{ site.baseurl }}/blog/talks/CCSB-Seminar-Moore-Using-Cold-Plasma-Treatment/">Using Cold Plasma Treatment Technologies to Reduce Agricultural Waste</a></td>

		</tr>

		<tr>
			<td>Oct. 26, 2022</td>

			<td>
				<a href="https://ccsb.pvamu.edu/team/anna-joy/" target="_blank"><strong>Anna Joy</strong></a>, Ph.D., Research Associate Professor, Director, <a href="https://ccsb.pvamu.edu/GL/" target="_blank">Genomics Laboratory</a>, <a href="https://ccsb.pvamu.edu/" target="_blank">Center for Computational Systems Biology</a>, <a href="https://www.pvamu.edu/ece/">Electrical and Computer Engineering Department</a>, <a href="https://www.pvamu.edu/engineering/">Roy G. College of Engineering</a>, <a href="https://pvamu.edu">Prairie View A&M University</a>
			</td> 

			<td><a href="{{ site.baseurl }}/blog/talks/CCSB-Seminar-Joy-Development-BC-Brain-Organoid/">Development of a Breast Cancer Brain Metastasis Model for Drug Discovery and Testing</a></td>

		</tr>

		<tr>
			<td>Nov. 9, 2022</td>

			<td>
				<a href="https://www.sychanlab.pitt.edu" target="_blank"><strong>Stephen Chan</strong></a>, MD/PhD/FAHA, Professor of <a href="https://dom.pitts.edu">Department of Medicine</a>, Vitalant Chair of Vacular Medicine,  Director, <a href="https://vmi.pitt.edu">Vascular Medicine Institute</a>, <a href="https://www.medschool.pitt.edu">School of Medicine</a>, <a href="https://www.pitts.edu">University of Pittsburgh</a>

				(host: Seungchan Kim)
	       	</td> 

			<td><a href="{{ site.baseurl }}/blog/talks/CCSB-Seminar-Chan-Integrated-Multiomic-Analysis-PH/">Integrated multi-omic analyses identify genetic causes of endothelial inflammation in pulmonary hypertension</a></td>
		</tr>

		<tr>
			<td><strike>[rescheduled again: Dec. 7, 2022]</strike> <strike>[rescheduled: Nov. 30]</strike></td>

			<td>
				<a href="https://ccsb.pvamu.edu/team/tesfamichael-kebrom/"><strong>Tesfamichael Kebrom</strong></a>, Ph.D., Research Scientist, <a href="https://www.pvamu.edu/cahs/carc/" target="_blank">CARC</a>, <a href="https://www.pvamu.edu/cahs/">College of Agriculture and Human Sciences</a> & <a href="https://ccsb.pvamu.edu/" target="_blank">CCSB</a>, <a href="https://www.pvamu.edu/ece/">Electrical and Computer Engineering Department</a>, <a href="https://www.pvamu.edu/engineering/">Roy G. College of Engineering</a>, <a href="https://pvamu.edu" target="_blank">Prairie View A&M University</a>
	       	</td> 
	       	<!-- 
			<td><a href="{{ site.baseurl }}/blog/talks/CCSB-Seminar-Kebrom-Molecular-Pathways-Shoot-Branching/">Several partially distinct molecular pathways control shoot branching in the grasses</a></td>
			-->
			<td>Several partially distinct molecular pathways control shoot branching in the grasses [<em>Rescheduled to Spring 2023</em>]</td>
		</tr>

		<tr>
			<td>Dec. 14, 2022</td>

			<td>
				<a href="https://www.depts.ttu.edu/igcast/Staff/YinpingJiao.php"><strong>Yinping Jiao</strong></a>, Ph.D., Assistant Professor, <a href="https://www.depts.ttu.edu/IGCAST/" target="_blank">Institute of Genomics for Crop Abiotic Stress Tolerance (IGCAST)</a>, <a href="https://www.ttu.edu" target="_blank">Texas Tech University</a>

				(host: Tesfamichael Kebrom)
			</td> 

			<td><a href="{{ site.baseurl }}/blog/talks/CCSB-Seminar-Jiao-Decoding-Sorghum-Genome/">Decoding Sorghum genome using mutant population</a></td>
		</tr>

		</table>

		</div>

		<div class="head">
			Previous Seminars

			<div class="spacer"></div>
			<div class="smallhead" style="margin-left: 20px;">
				<p>
					<strong>2019</strong>
				    	 [ <a href="{{ site.baseurl }}/talks/old/talks-2019-fall/">Fall</a> ];
					<strong>2020</strong> 
					     [ <a href="{{ site.baseurl }}/talks/old/talks-2020-spring/">Spring</a> | 
					       <a href="{{ site.baseurl }}/talks/old/talks-2020-fall/">Fall</a> ]; 
					<strong>2021</strong>
					     [ <a href="{{ site.baseurl }}/talks/old/talks-2021-spring/">Spring</a> | 
					       <a href="{{ site.baseurl }}/talks/old/talks-2021-fall/">Fall</a> ];
				    <strong>2022</strong>
				         [ <a href="{{ site.baseurl }}/talks/old/talks-2022-spring/">Spring</a> ]
				 </p>

			    <!--
				<ul>
					<li>2019: <strike>Spring</strike> | 
						      <a href="{{ site.baseurl }}/talks/old/talks-2019-fall/">Fall</a></li>
					<li>2020: <a href="{{ site.baseurl }}/talks/old/talks-2020-spring/">Spring</a> | 
					          <a href="{{ site.baseurl }}/talks/old/talks-2020-fall/">Fall</a></li>
					<li>2021: <a href="{{ site.baseurl }}/talks/old/talks-2021-spring/">Spring</a> | 
					          <a href="{{ site.baseurl }}/talks/old/talks-2021-fall/">Fall</a></li>
					<li>2022: <a href="{{ site.baseurl }}/talks/old/talks-2022-spring/">Spring</a> | 
							  Fall (current) </li>
				-->
				<!--
					<li><a href="{{ site.baseurl }}/talks/old/talks-2022-spring/">Spring 2022 Seminars</a></li>
					<li><a href="{{ site.baseurl }}/talks/old/talks-2021-fall/">Fall 2021 Seminars</a></li>
					<li><a href="{{ site.baseurl }}/talks/old/talks-2021-spring/">Spring 2021 Seminars</a></li>
					<li><a href="{{ site.baseurl }}/talks/old/talks-2020-fall/">Fall 2020 Seminars</a></li>
					<li><a href="{{ site.baseurl }}/talks/old/talks-2020-spring/">Spring 2020 Seminars</a></li>
					<li><a href="{{ site.baseurl }}/talks/old/talks-2019-fall/">Fall 2019 Seminars</a></li>
				-->
				</ul>
			</div>

		</div>

		<div class="spacer"></div>
		<div class="smallhead">
			Note: This seminar series is partially sponsored by <em>Texas A&M University Chancellor's Research Initiative (CRI) grant</em> and <a href="{{ site.baseurl }}/blog/DoD-CDMRP-TTSA-Biomarker/">W81XWH-19-1-0149, (DOD/CDMRP)</a>.
		</div>
	</div>
</div>	


<div class="bigspacer"></div>


<div class="row">
	<div class="col-md-12">
		<div class="title">
			Recent Talks
		</div>	
	</div>
</div>	

<div class="bigspacer"></div>

{% for talk in site.categories.talks %}
{% unless talk.draft %}

	{% for member in site.categories.team %}
		{% if member.title == talk.speaker %}
			{% assign speaker = member %}
		{% endif %}
	{% endfor %}

    {% cycle 'add rows': '<div class="row">', '', '' %}
		<div class="col-md-4 talkbox">
			<div class="smallhead">
				<a href="{{ talk.url | relative_url }}" class="off">{{ talk.title }}</a>
			</div>
			<div class="smallspacer"></div>
      {% if talk.venue %}
			<div class="note">
				{{ talk.event }} at {{ talk.venue }}
			</div>
      {% else %}
      <div class="note">
				{{ talk.event }}
			</div>
      {% endif %}
			<div class="smallspacer"></div>
			<div class="smallnote">
				{{ talk.date | date: "%-d %b %Y" }}
				by <a class="off" href="{{ speaker.url | relative_url }}">{{ talk.speaker }}</a>
			</div>
			<div class="bigspacer"></div>
			<div class="spacer"></div>
        </div>
    {% cycle 'close rows': '', '', '</div>' %}
{% endunless %}
{% endfor %}
{% cycle 'close rows': '', '</div>', '</div>' %}


