---
layout: default
title: CCSB@PVAMU / talks
categories: 
 - talks
---



<div class="row">
	<div class="col-md-12">
		<div class="title">
			CCSB Biweekly Seminar Series
		</div>
		<div class="smallspacer"></div>
		<div class="smallspacer"></div>
		<div class="smallhead">
			CCSB Biweekly Seminar Series is to promote interdisciplinary research across PVAMU campus and beyond, hosted by CRI <a href="https://ccsb.pvamu.edu">Center for Computational Systems Biology</a>.   We alternate between CCSB researchers and external speakers. We meet in CCSB Conference Room (ELEN 231).  <a href="https://ccsb.pvamu.edu/team/dumitru-iacobas/">Dr. Dumitru Iacobas</a> is the organizer for the seminar series.  Please contact him if you have any suggestion, including speakers.
		</div>	

		<div class="spacer"></div>
		<div class="spacer"></div>

		<div class="head">
			Spring 2020 Speakers
		</div>

		<div>

		<table style="width:90%">
		<tr>
			<th>Date</th>
			<th>Speaker</th> 
			<th>Title</th>
		</tr>

		<tr>
			<td>Wed., Jan. 22, 2020</td>

			<td><a href="https://www.pvamu.edu/raise/personnel/">Megumi Hada</a>, Ph.D., Sr. Research Scientist, <a href="https://www.pvamu.edu/raise/">RAISE</a>, Prairie View A&M University</td> 

			<td><a href="/blog/talks/CCSB-Seminar-Hada-Biomarker-Space-Radiation-Risk/"><em>Biomarker for Space Radiation Risk: Cytogenetic study of heavy ion-induced chromosomal damage in human cells</a></em></td>
		</tr>

		<tr>
			<td>Wed., Feb. 5, 2020</td>

			<td><a href="http://www.pvamu.edu/cecstr/sadiku/">Matthew Sadiku</a>, Ph.D., Professor, <a href="http://www.pvamu.edu/engineering/departments/ece/" target="_blank">ECE</a>/<a href="http://www.pvamu.edu/cecstr/" target="_blank">CECSTR</a>, Prairie View A&M University </td> 

			<td><a href="/blog/talks/CCSB-Seminar-Sadiku-Emerging-Internet-Based-Technologies/"><em>Emerging internet-based technologies</em></a></td>
		</tr>

		<tr>
			<td>Wed., Feb. 19, 2020</td>

			<td><a href="https://ccsb.pvamu.edu/team/seungchan-kim/">Seungchan Kim</a>, Ph.D., Chief Scientist and Executive Professor, <a href="http://www.pvamu.edu/engineering/departments/ece/" target="_blank">ECE</a>/<a href="https://ccsb.pvamu.edu/" target="_blank">CCSB</a>, Prairie View A&M University</td> 

			<td><a href="/blog/talks/CCSB-Seminar-Kim-scRNAseq-Computational-Analysis"><em>Computational Analysis of Single-cell RNAseq data</em></a></td>

		</tr>

		<tr>
			<td>Wed., Mar. 4, 2020</td>

			<td>Javad Barouei</a>, Ph.D., Research Scientist, <a href="https://www.pvamu.edu/cahs/carc/" target="_blank">CARC</a>, Prairie View A&M University</td> 

			<td><a href="/blog/talks/CCSB-Seminar-Barouei-Modulation-Gut-Microbiome"><em>Modulation of Gut Microbiome by Nutritional Strategies to Protect against Obesity and Related Metabolic Dysfunctions</em></a></td>

		</tr>

		<tr>
			<td>Wed., Mar. 25, 2020</td>

			<td><strong>[CANCELLED]</strong> <a href="https://www.vmi.pitt.edu/faculty/chan.html">Stephen Y. Chan</a>, M.D./Ph.D./FAHA, Professor, <a href="https://www.upmc.com" target="_blank">UPMC</a></td> 

			<td><em>Computational Repurposing of Chemotherapeutics in Pulmonary Hypertension</em> <strong>(to be rescheduled in Fall, 2020)</strong></td>

		</tr>

		<tr>
			<td>Wed., Apr. 8, 2020</td>

			<td><a href="http://ccsb.pvamu.edu/team/xishuang-dong/">Xishuang Dong</a>, Ph.D., Assistant Professor, <a href="http://www.pvamu.edu/engineering/departments/ece/" target="_blank">ECE</a>/<a href="https://ccsb.pvamu.edu/" target="_blank">CCSB</a>, Prairie View A&M University</td> 

			<td><a href="/blog/talks/CCSB-Seminar-Dong-Cell-Type-Identification-scRNAseq"><em>Cell Type Identification from Single-Cell Transcriptomic Data via Deep Learning</em></a> [<a href="https://ccsb.pvamu.edu/media/video/ccsb-seminar-dong-2020-04-08.mp4">Watch the talk</a>]</td>
		</tr>

		<tr>
			<td>Wed., Apr. 22, 2020</td>

			<td><a href="https://nfs.tamu.edu/people/giles-erin/" target="_blank">Erin Giles</a>, Ph.D., Assistant Professor, <a href="https://nfs.tamu.edu/" target="_blank">Department of Nutritional and Food Science</a>, <a href="https://www.tamu.edu" target="_blank">Texas A&M University</a></td> 

			<td><em>TBA</em> <strong>(to be rescheduled in Fall, 2020)</strong></td>
		</tr>

		<tr>
			<td>Wed., May 6, 2020</td>

			<td><a href="https://ccsb.pvamu.edu/team/dumitru-iacobas/">Dumitru Iacobas</a>, Ph.D., Research Professor, <a href="https://ccsb.pvamu.edu/" target="_blank">CCSB</a>, Prairie View A&M University</td> 

			<td><em>Genomic fabric remodeling in neurological diseases</em></td>
		</tr>

		<tr>
			<td>Wed., May 20, 2020</td>

			<td><a href="https://dtg.usc.edu/site/index.php/faculty/john-d-carpten/" target="_blank">John Carpten</a>, Ph.D., Professor & Chair of <a href="https://keck.usc.edu/translational-genomics/" target="_blank">Translational Genomics</a>; Director, Institute of Translational Genomics, <a href="https://usc.edu" target="_blank">USC</a></td> 

			<td><em>TBA</em></td>
		</tr>
		</table>

		</div>

		<div class="head">
			Previous Speakers
		</div>

		<div class="smallhead">
			<ul>
				<li><a href="/talks/talks-2019-fall/">Fall 2019 Speakers</a></li>
			</ul>
		</div>

		<div class="smallspacer"></div>

		<div class="smallspacer"></div>

		<div class="smallhead">
			Note: This seminar series is partially sponsored by <em>Texas A&M University Chancellor's Research Initiative (CRI) grant</em> and <em>Wesley Lecture Series of <a href="http://www.pvamu.edu/engineering/departments/ece/" target="_blank">Department of Electrical and Computer Engineering</a> at the Prairie View A&M University</em>.
		</div>
	</div>
</div>	


<div class="bigspacer"></div>


<div class="row">
	<div class="col-md-12">
		<div class="title">
			Recent Talks
		</div>	
	</div>
</div>	

<div class="bigspacer"></div>

{% for talk in site.categories.talks %}
{% unless talk.draft %}

	{% for member in site.categories.team %}
		{% if member.title == talk.speaker %}
			{% assign speaker = member %}
		{% endif %}
	{% endfor %}

    {% cycle 'add rows': '<div class="row">', nil, nil %}
		<div class="col-md-4 talkbox">
			<div class="smallhead">
				<a href="{{ talk.url | prepend:site.baseurl }}" class="off">{{ talk.title }}</a>
			</div>
			<div class="smallspacer"></div>
      {% if talk.venue %}
			<div class="note">
				{{ talk.event }} at {{ talk.venue }}
			</div>
      {% else %}
      <div class="note">
				{{ talk.event }}
			</div>
      {% endif %}
			<div class="smallspacer"></div>
			<div class="smallnote">
				{{ talk.date | date: "%-d %b %Y" }}
				by <a class="off" href="{{ speaker.url | prepend:site.baseurl }}">{{ talk.speaker }}</a>
			</div>
			<div class="bigspacer"></div>
			<div class="spacer"></div>
        </div>
    {% cycle 'close rows': nil, nil, '</div>' %}
{% endunless %}
{% endfor %}
{% cycle 'close rows': nil, '</div>', '</div>' %}


