---
layout: default
title: CCSB@PVAMU / GL
categories: 
 - GL
category: GL
---



<div class="post-list">
    
    {% for post in site.categories.GL limit: 8 %}
    
    <div class="blog-post">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="media">
                    <div class="media-body">
                        {% if post.link %}
                        <div class="title media-heading">
                            <a href="{{ post.link}}" class="off">{{ post.title }}</a>
                        </div>
                        {% else %}
                        <div class="title media-heading">{{ post.title }}
                        </div>
                         {% endif %}
                        <p>
                        <div class="smallhead">
                            {% if post.author %}
                            Director:  <a class="off" href="
                                {% for member in site.categories.team %}
                                {% if member.name == post.author %}
                                {{ member.url | prepend:site.baseurl }}
                                {% endif %}
                                {% endfor %}
                                ">
                                {{ post.author }}
                            </a>
                            {% endif %}
                            {% if post.authors %}
                            by
                            <a class="off" href="
                                {% for member in site.categories.team %}
                                {% if member.name == post.authors.first %}
                                {{ member.url | prepend:site.baseurl }}
                                {% endif %}
                                {% endfor %}
                                ">
                                {{ post.authors.first }}
                            </a>
                            and
                            <a class="off" href="
                                {% for member in site.categories.team %}
                                {% if member.name == post.authors.last %}
                                {{ member.url | prepend:site.baseurl }}
                                {% endif %}
                                {% endfor %}
                                ">
                                {{ post.authors.last }}
                            </a>
                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>

        
        <div class="spacer"></div>
        
    
    
    

    
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            {% if post.image %}
            {% if post.link %}
            <a href="{{ post.link }}">
                <img class="offset" src="{{ post.image | prepend:site.baseurl }}">
                    </a>
            {% else %}
            <img class="offset" src="{{ post.image | prepend:site.baseurl }}">
                {% endif %}
                {% endif %}
                <div class="post">
                    <font size="4">
                    {{ post.content }}
                    </font>
                </div>
                </div>
        <div class="col-md-1"></div>
    </div>
    
    <div class="bigspacer"></div>
    <div class="spacer"></div>
    </div>
    
    
    {% endfor %}
    <div class="title media-heading">

